@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset básico */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Estilo global da aplicação */
body {
  @apply bg-gradient-to-br from-green-50 to-green-100 text-gray-800 antialiased;
}
